<!DOCTYPE html>
<html>
  <head>
    <title>studmenu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/swiper.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
   
  </head>
  <body>
    <script>
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'Messenger'));
      
       window.extAsyncInit = function () {
  // the Messenger Extensions JS SDK is done loading
   MessengerExtensions.getUserID(function success(uids) {
    window.psid = uids.psid;//This is your page scoped sender_id
    
}, function error(err) {
   
});
};
      </script>
      <!--<div id="load"></div> -->
      <div class="flexbox">
          <div id="searchitems"class="search">
          
          <div >
              <input id="textsearch" type="text" placeholder="     Search . . ." required   onchange="searchitem()">
            </div>
          </div>


          <div >
           
            <label class="switch">
            <input type="checkbox" id="vegnonveg" onclick="refreshPopulateBody();">
            <span class="slider round"></span>
          </label>
         </div> 
          
         
          <div class="cartcontainer">
            <img class="carticon" id="carticon"  src="https://s3.ap-south-1.amazonaws.com/studmenu/General+Icons/Cart.png"> 
            <div class="carticonnumber" id="carticonnumber">0</div> 
          </div>
         
         
          
        </div>
      <div class="menu" id="menu">
         
        
          
        <div class="containerbody" id="menuitbody">
          <!-- Using Javascript dynamically add elements here -->

          </div>
          
      </div>
      
      <div class="footer">
            <div class="supermenu">
                    <div class="foods" id="food">Foods</div><div class="drinks" id="drink" >Drinks</div>
                     
            </div>     
           
        <div class="swiper-container" id="menuit">
                 <div class="swiper-wrapper" id="menuite">
                  <!-- Using Javascript dynamically add elements here -->
                  </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
             </div> 
         </div> 
    <script>
     var menuitem={{menuitems|tojson}};
    </script>
    <script>
      var elem = document.getElementById("menu");
      function openFullscreen() {
        if (elem.requestFullscreen) {
          elem.requestFullscreen();
        } else if (elem.mozRequestFullScreen) { /* Firefox */
          elem.mozRequestFullScreen();
        } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
          elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) { /* IE/Edge */
          elem.msRequestFullscreen();
        }
      }
      </script>
    
    <script type="text/javascript" src="../static/swiper.min.js"></script>
        
    <script type="text/javascript" src="../static/main.js"></script>
   
</body>
</html> 
