<!DOCTYPE html>
<html>
  <head>
    <title>studmenu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/swiper.min.css">
  </head>
  <body>
      <div class="menu" id="menu">
          
      </div>
      
      <div class="footer">
            <div class="supermenu">
                    <div class="foods"><button id="food">Foods</button></div><div class="drinks" ><button id="drink">Drinks</button></div>
                     
            </div>     
           
        <div class="swiper-container" id="menuit">
                 <div class="swiper-wrapper" id="menuite">
                  <!-- Using Javascript dynamically add elements here -->
                  </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
             </div> 
         </div>    
   
<script type="text/javascript" src="../static/swiper.min.js"></script>
<script type="text/javascript">
    var givemenu="{{menu|tojson}}";
    </script>      
<script src="../static/main.js"></script>


           
          



  </body>
</html> 
