<!DOCTYPE html>
<html>
  <head>
    <title>studmenu</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/individualcart.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="http://studmenu.herokuapp.com:8888/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  </head>
  <body>
    <script>
    window.data={{datatowrite|tojson}};
    </script>
    <div class="cartbody" id="cartbody">
    </div>
    <script type="text/javascript" src="../static/individualcart.js"></script>
   
</body>
</html> 
